# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Excel output files
data/*.xlsx

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
